<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="public/css/variables.css" type="text/css" rel="stylesheet">
    <link href="public/css/login.css" type="text/css" rel="stylesheet">
    <title>Rutio | Login</title>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <form action="" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="footer">
            <p>Don't have an account? <a href="register.html">Sign up</a></p>
        </div>
    </div>
</body>
</html>
